# Ne pas versionner les fichiers sensibles ou trop lourds
wp-config.php
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
wp-content/advanced-cache.php
wp-content/debug.log
wp-content/plugins/ # sauf si tu as des plugins perso

# Cache, logs et système
*.log
*.sql
*.zip
*.tar.gz
*.bak
*.tmp
.DS_Store
Thumbs.db
node_modules/
.env

# Local / système
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
